.container
  .row
    .col-lg-12
      .headline
        %h1 Skryp
        = image_tag "skryp-logo.jpg", :height=>"149.5px", :width=>"229px"
        %h3 The modern way to write a screenplay.
        %p Compose, collaborate and share online.

  .row 
    .container.request-invite.col-lg-7
      %p Sign up for early access when Skryp launches.
    
      .input-group
        %input.form-control.input-lg{:type=>"text", :placeholder=>"Email Address"}
        %span.input-group-btn 
          %button.btn.btn-default{:type=>"button"} SEND

